<a href="https://colab.research.google.com/github/Jonny-T87/Dojo-Projects/blob/main/CleaningData1_Project1Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project

- Jonny Tesfahun

## Opening and Loading Dataset

In [82]:
import pandas as pd

In [83]:
from google.colab import drive

In [84]:
filename = '/content/drive/MyDrive/DojoBootCamp/Project Files/sales_predictions.csv'
df = pd.read_csv(filename)

In [85]:
#Google Colab Notebook and verify the data by using the df.head() command.  
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## Cleaning Dataset Part 1

1. How many rows and columns?

    - I will use 12 columns. Since most of the items can be used to determine diffrent aspects of stores, products, and prices of the data. Thus, no column will be deleted. There is 8,523 rows.

2.  What are the datatypes of each variable?

    - Outlet_Establishment_Year is Integer Type (1)
    - Item_Weight, Item_Visibility, Item_MRP, Item_Outlet_Sales are Float Types (4)
    - Item_Identifier, Item_Fat_Content, Item_Type, Outlet_Identifier, Outlet_Size, Outlet_Location_Type, Outlet_Type are Object Types (7)

In [86]:
df.shape

(8523, 12)

In [87]:
# Looking at data types
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [88]:
# Looking at more info than data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

3. Are there duplicates? If so, drop any duplicates.

  - There looks to be no duplicates in the dataset.

In [89]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [90]:
df.duplicated().sum()

0

4. Identify missing values.
  - Outlet_Size has 2,410 missing data
  - Item_Weight has 1,463 missing data

In [91]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5. Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

  - I will also replace NaN for Outlet_Size with 'missing' to keep the statistical data but also show that there is no data for store size.

  - I will replace NaN for Item_Weight with Mean of the column. This will keep consistency in the column and dataset.

In [92]:
# Replaced 'NaN' with 'Missing'
df['Outlet_Size'].fillna('Missing', inplace=True)
# Checked for any 'NaN' and showed that there was none
df['Outlet_Size'].isna().sum()

0

In [93]:
# Finding avg mean for 'Item_Weight' and creating a key
Itm_Wght_Avg = round(df['Item_Weight'].mean(), 2)
Itm_Wght_Avg

12.86

In [94]:
# Replaced 'NaN' with mean for 'Item_Weight' column
df['Item_Weight'].fillna(Itm_Wght_Avg, inplace=True)
# Checked for any missing data, looks good
df['Item_Weight'].isna().sum()

0

6. Confirm that there are no missing values after addressing them.

In [95]:
#Checking whole dataset for any 'NaN' and there is none
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7. Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent) 

  - Item_Fat_Content column has a few typo errors such as LF, low fat, Low Fat, reg, and Regular

In [96]:
# trying to look at unique data
df.nunique()

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [97]:
# looking at columns that may have inconsistency 
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Missing,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

-- Fat Content Typo Errors

In [98]:
# looks like 'LF' and 'Low Fat' and 'low fat'
# And 'reg' and 'Regular' are the same
df.groupby(['Item_Fat_Content']).sum()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Fat_Content,,,,,
LF,4048.995,21.054330,43857.1062,631348,6.552424e+05
Low Fat,65837.520,326.541080,717390.8394,10167044,1.101503e+07
Regular,36784.405,200.970026,409413.1214,5771667,6.457454e+06
low fat,1415.455,7.313655,15071.7328,223539,2.338270e+05
reg,1502.780,7.764190,15948.6810,233923,2.295765e+05

In [99]:
# Changed 'LF' tp "Low Fat"
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF','Low Fat')

In [100]:
#Changed 'reg' to 'Regular'
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg','Regular')

In [101]:
# Changed 'low fat' to 'Low Fat'
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat','Low Fat')

In [102]:
# Now dataset in column is consistent
df.groupby(['Item_Fat_Content']).sum()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Fat_Content,,,,,
Low Fat,71301.970,354.909065,776319.6784,11021931,1.190409e+07
Regular,38287.185,208.734216,425361.8024,6005590,6.687031e+06

8. For any numerical columns, obtain the summary statistics of each (min, max, mean)

  - For more consist data and visual appeal I will round by 2 decimals columns Item_MRP & Item_Outlet_Sales
  - To get summary statistics of each (min, max, mean) for columns will use .describe()

In [103]:
# Rounding 'Item_MRP' column
df['Item_MRP'] = df['Item_MRP'].round(2)

In [104]:
# Rounding 'Item_Outlet_Sales' column
df['Item_Outlet_Sales'] = df['Item_Outlet_Sales'].round(2)

In [105]:
# Rounding the 2 columns above did not change much statistically
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.858049,0.066132,140.992810,1997.831867,2181.288926
std,4.226124,0.051598,62.275166,8.371760,1706.499605
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026989,93.825000,1987.000000,834.245000
50%,12.860000,0.053931,143.010000,1999.000000,1794.330000
75%,16.000000,0.094585,185.645000,2004.000000,3101.300000
max,21.350000,0.328391,266.890000,2009.000000,13086.960000

In [106]:
# Checking it visually 
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.81,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.14
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.27,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.42
2,FDN15,17.50,Low Fat,0.016760,Meat,141.62,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.27
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.10,OUT010,1998,Missing,Tier 3,Grocery Store,732.38
4,NCD19,8.93,Low Fat,0.000000,Household,53.86,OUT013,1987,High,Tier 3,Supermarket Type1,994.71

9. Extra Credit - Would like to show Item_Visibility as percentage. Just so the dataset can be more visually appealing and readable

In [110]:
 # Was able to change formate of column so that data shows as percentage (1.00%), It took a while
 # I got assistance from https://stackoverflow.com/questions/54110289/pandas-dataframe-column-of-floats-to-percentage-style-error
df['Item_Visibility'] = df['Item_Visibility'].astype(float).map("{:.2%}".format)

In [114]:
df['Item_Visibility'].head()

0    1.60%
1    1.93%
2    1.68%
3    0.00%
4    0.00%
Name: Item_Visibility, dtype: object

In [113]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,1.60%,Dairy,249.81,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.14
1,DRC01,5.92,Regular,1.93%,Soft Drinks,48.27,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.42
2,FDN15,17.50,Low Fat,1.68%,Meat,141.62,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.27
3,FDX07,19.20,Regular,0.00%,Fruits and Vegetables,182.10,OUT010,1998,Missing,Tier 3,Grocery Store,732.38
4,NCD19,8.93,Low Fat,0.00%,Household,53.86,OUT013,1987,High,Tier 3,Supermarket Type1,994.71