<a href="https://colab.research.google.com/github/Jonny-T87/Dojo-Projects/blob/main/Datatsets_Project_2_Part_1_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Project 2 - 

Jonny Tesfahun

- 07/07/22

##1st Dataset:

In [1]:
import pandas as pd
import numpy as np

In [3]:
#NBA dataset
df = pd.read_csv('/content/drive/MyDrive/DojoBootCamp/Project Files/games.csv')
df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     25796 non-null  object
 1   GAME_ID           25796 non-null  int64
 2   GAME_STATUS_TEXT  25796 non-null  object
 3   HOME_TEAM_ID      25796 non-null  int64
 4   VISITOR_TEAM_ID   25796 non-null  int64
 5   SEASON            25796 non-null  int64
 6   TEAM_ID_home      25796 non-null  int64
 7   PTS_home          25697 non-null  float64
 8   FG_PCT_home       25697 non-null  float64
 9   FT_PCT_home       25697 non-null  float64
 10  FG3_PCT_home      25697 non-null  float64
 11  AST_home          25697 non-null  float64
 12  REB_home          25697 non-null  float64
 13  TEAM_ID_away      25796 non-null  int64
 14  PTS_away          25697 non-null  float64
 15  FG_PCT_away       25697 non-null  float64
 16  FT_PCT_away       25697 non-null  float64
 17  FG3_PCT_away      25697 non-null  float64
 18  AST_away          25697 non-null  float64
 19  REB_away          25697 non-null  float64
 20  HOME_TEAM_WINS    25796 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.1+ MB

In [4]:
df.corr()

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
GAME_ID,1.000000,-0.026348,-0.031471,0.095721,-0.026348,0.033727,0.018384,0.036256,-0.004041,-0.032486,-0.006294,-0.031471,0.004002,0.005716,0.033366,-0.002642,-0.042501,-0.024355,0.030402
HOME_TEAM_ID,-0.026348,1.000000,-0.045911,0.000461,1.000000,-0.024372,-0.008239,-0.009983,0.002748,-0.097061,-0.026674,-0.045911,-0.006496,0.022197,0.016042,0.015525,-0.066744,-0.025784,-0.023604
VISITOR_TEAM_ID,-0.031471,-0.045911,1.000000,0.002195,-0.045911,-0.000120,0.035072,0.004108,0.017292,0.018287,-0.002759,1.000000,-0.032583,-0.026651,-0.018476,-0.022625,-0.013180,-0.010262,0.030571
SEASON,0.095721,0.000461,0.002195,1.000000,0.000461,0.345022,0.039355,0.065950,0.024126,0.192337,0.162529,0.002195,0.378888,0.073299,0.066808,0.020564,0.255330,0.199832,-0.028197
TEAM_ID_home,-0.026348,1.000000,-0.045911,0.000461,1.000000,-0.024372,-0.008239,-0.009983,0.002748,-0.097061,-0.026674,-0.045911,-0.006496,0.022197,0.016042,0.015525,-0.066744,-0.025784,-0.023604
PTS_home,0.033727,-0.024372,-0.000120,0.345022,-0.024372,1.000000,0.661964,0.184323,0.423277,0.601088,0.163020,-0.000120,0.483321,0.128207,0.069504,0.057260,0.208445,-0.139219,0.398901
FG_PCT_home,0.018384,-0.008239,0.035072,0.039355,-0.008239,0.661964,1.000000,0.018565,0.449595,0.549268,-0.188445,0.035072,0.114863,0.039905,0.030386,0.014223,0.013061,-0.464576,0.433626
FT_PCT_home,0.036256,-0.009983,0.004108,0.065950,-0.009983,0.184323,0.018565,1.000000,0.028656,0.018711,-0.052373,0.004108,0.075251,0.046824,0.036861,0.021528,0.029812,-0.115124,0.092710
FG3_PCT_home,-0.004041,0.002748,0.017292,0.024126,0.002748,0.423277,0.449595,0.028656,1.000000,0.351811,-0.087723,0.017292,0.046740,0.008265,0.015199,-0.001993,-0.002371,-0.201855,0.300804
AST_home,-0.032486,-0.097061,0.018287,0.192337,-0.097061,0.601088,0.549268,0.018711,0.351811,1.000000,0.066332,0.018287,0.183636,0.006043,0.026035,-0.006692,0.142278,-0.108505,0.303889
REB_home,-0.006294,-0.026674,-0.002759,0.162529,-0.026674,0.163020,-0.188445,-0.052373,-0.087723,0.066332,1.000000,-0.002759,-0.152464,-0.474556,-0.115795,-0.205682,-0.100354,0.068494,0.246358
TEAM_ID_away,-0.031471,-0.045911,1.000000,0.002195,-0.045911,-0.000120,0.035072,0.004108,0.017292,0.018287,-0.002759,1.000000,-0.032583,-0.026651,-0.018476,-0.022625,-0.013180,-0.010262,0.030571
PTS_away,0.004002,-0.006496,-0.032583,0.378888,-0.006496,0.483321,0.114863,0.075251,0.046740,0.183636,-0.152464,-0.032583,1.000000,0.669054,0.201684,0.409656,0.591523,0.176835,-0.415491
FG_PCT_away,0.005716,0.022197,-0.026651,0.073299,0.022197,0.128207,0.039905,0.046824,0.008265,0.006043,-0.474556,-0.026651,0.669054,1.000000,0.038309,0.435279,0.524138,-0.171026,-0.436616
FT_PCT_away,0.033366,0.016042,-0.018476,0.066808,0.016042,0.069504,0.030386,0.036861,0.015199,0.026035,-0.115795,-0.018476,0.201684,0.038309,1.000000,0.031278,0.029563,-0.038057,-0.106917
FG3_PCT_away,-0.002642,0.015525,-0.022625,0.020564,0.015525,0.057260,0.014223,0.021528,-0.001993,-0.006692,-0.205682,-0.022625,0.409656,0.435279,0.031278,1.000000,0.320075,-0.094666,-0.290396
AST_away,-0.042501,-0.066744,-0.013180,0.255330,-0.066744,0.208445,0.013061,0.029812,-0.002371,0.142278,-0.100354,-0.013180,0.591523,0.524138,0.029563,0.320075,1.000000,0.071461,-0.294976
REB_away,-0.024355,-0.025784,-0.010262,0.199832,-0.025784,-0.139219,-0.464576,-0.115124,-0.201855,-0.108505,0.068494,-0.010262,0.176835,-0.171026,-0.038057,-0.094666,0.071461,1.000000,-0.253673
HOME_TEAM_WINS,0.030402,-0.023604,0.030571,-0.028197,-0.023604,0.398901,0.433626,0.092710,0.300804,0.303889,0.246358,0.030571,-0.415491,-0.436616,-0.106917,-0.290396,-0.294976,-0.253673,1.000000

1. Source of data

 - https://www.kaggle.com/datasets/nathanlauga/nba-games?select=ranking.csv

 - using games.csv file 

2. Brief description of data

 - The data is a collection of NBA games data from the 2004 season to dec 2020 season. The file contains all games home and away data. Some of these include home points, away points, FG percent home & away, FT percent home & away.
 
3. What is the target?
 - My target for this dataset would be FG_Pct_Home

4. Is this a classification or regression problem?
 - This is a regression problem. I hope to be using linear regression.

5. How many features?
 - There will be 5 features. They include Pts_home, Fg3_pct_home, Ast_home, Reb_away, and Home_town_wins. 

6. How many rows of data.
 - As many needed for the machine to learn and better predict.

7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
 - The first challenge may be that there might not be the strongest correlation between target and features. The second would be understanding how to evaluate a percentage as a prediction.

##2nd Dataset:

In [14]:
#Zoo animal
df_2 = pd.read_csv('/content/drive/MyDrive/DojoBootCamp/Project Files/zoo.csv')
df_2.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [15]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [16]:
df_2.corr()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
hair,1.000000,-0.427851,-0.817382,0.878503,-0.198431,-0.473554,-0.154769,0.492531,0.191681,0.441149,-0.104245,-0.280313,0.394009,0.048973,0.207208,0.455020,-0.562384
feathers,-0.427851,1.000000,0.419248,-0.410761,0.656553,-0.058552,-0.104430,-0.613631,0.231403,0.254588,-0.145739,-0.223541,-0.206686,0.292569,0.031586,-0.135934,-0.197520
eggs,-0.817382,0.419248,1.000000,-0.938848,0.376646,0.376244,0.011605,-0.642150,-0.340420,-0.382777,0.098689,0.164796,-0.224918,-0.221090,-0.155610,-0.514650,0.661825
milk,0.878503,-0.410761,-0.938848,1.000000,-0.366765,-0.362613,-0.029721,0.628168,0.384958,0.423527,-0.242449,-0.156328,0.214196,0.210026,0.163928,0.574906,-0.723683
airborne,-0.198431,0.656553,0.376646,-0.366765,1.000000,-0.172638,-0.295181,-0.594311,-0.104718,0.286039,0.008528,-0.251157,0.043712,0.009482,0.063274,-0.349768,0.022677
aquatic,-0.473554,-0.058552,0.376244,-0.362613,-0.172638,1.000000,0.375978,0.053150,0.022463,-0.637506,0.087915,0.604492,-0.360638,-0.034642,-0.224308,-0.111866,0.326639
predator,-0.154769,-0.104430,0.011605,-0.029721,-0.295181,0.375978,1.000000,0.129452,0.051022,-0.262931,0.115391,0.190302,-0.099723,0.018947,-0.309794,0.144790,0.061179
toothed,0.492531,-0.613631,-0.642150,0.628168,-0.594311,0.053150,0.129452,1.000000,0.575085,-0.065690,-0.062344,0.364292,-0.193476,0.310368,0.069430,0.344010,-0.471527
backbone,0.191681,0.231403,-0.340420,0.384958,-0.104718,0.022463,0.051022,0.575085,1.000000,0.207666,-0.246611,0.209499,-0.432856,0.731762,0.101733,0.356976,-0.828845
breathes,0.441149,0.254588,-0.382777,0.423527,0.286039,-0.637506,-0.262931,-0.065690,0.207666,1.000000,-0.120752,-0.617219,0.369868,0.088952,0.124068,0.204125,-0.519308
venomous,-0.104245,-0.145739,0.098689,-0.242449,0.008528,0.087915,0.115391,-0.062344,-0.246611,-0.120752,1.000000,-0.033956,0.022964,-0.162724,-0.003252,-0.183748,0.321476
fins,-0.280313,-0.223541,0.164796,-0.156328,-0.251157,0.604492,0.190302,0.364292,0.209499,-0.617219,-0.033956,1.000000,-0.605652,0.204349,-0.093887,0.031705,0.099430
legs,0.394009,-0.206686,-0.224918,0.214196,0.043712,-0.360638,-0.099723,-0.193476,-0.432856,0.369868,0.022964,-0.605652,1.000000,-0.348295,0.073931,0.068791,0.131693
tail,0.048973,0.292569,-0.221090,0.210026,0.009482,-0.034642,0.018947,0.310368,0.731762,0.088952,-0.162724,0.204349,-0.348295,1.000000,0.023434,0.243277,-0.631830
domestic,0.207208,0.031586,-0.155610,0.163928,0.063274,-0.224308,-0.309794,0.069430,0.101733,0.124068,-0.003252,-0.093887,0.073931,0.023434,1.000000,0.020073,-0.181043
catsize,0.455020,-0.135934,-0.514650,0.574906,-0.349768,-0.111866,0.144790,0.344010,0.356976,0.204125,-0.183748,0.031705,0.068791,0.243277,0.020073,1.000000,-0.521030
class_type,-0.562384,-0.197520,0.661825,-0.723683,0.022677,0.326639,0.061179,-0.471527,-0.828845,-0.519308,0.321476,0.099430,0.131693,-0.631830,-0.181043,-0.521030,1.000000

1. Source of data

 - https://www.kaggle.com/datasets/uciml/zoo-animal-classification?select=zoo.csv

 - using zoo.csv file

2. Brief description of data

 - The data is a collection of attributes for 101 animals from a zoo. There are 16 variables with various traits to describe the animals.
The 7 Class Types are: Mammal, Bird, Reptile, Fish, Amphibian, Bug and Invertebrate. 

3. What is the target?

 - The target for this data is class_type. Which is the character and the actual word description of the animal class.

4. Is this a classification or regression problem?

 - This will be a classification problem. I will try to classify the animal in a certain class based on the attributes.

5. How many features?

 - There will be 9 features. They include hair, eggs, milk, aquatic, toothed, backbone, breathes, tail, and catsize.

6. How many rows of data.

 - As many needed for the machine to learn and better predict.

7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

 - The first challenge may be seeing if i need to change the target from animal class to the actual animal_name for better predictions. The second challenge might be if the data is too overly correlated.