<a href="https://colab.research.google.com/github/Jonny-T87/Dojo-Projects/blob/main/Filtering_byGender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Exercises on the Titanic Dataset (Core)

- Jonny Tesfahun
- 05/26/22

In [1]:
import pandas as pd

In [2]:
filename = '/content/drive/MyDrive/DojoBootCamp/Project Files/titanic.csv'
df = pd.read_csv(filename)

1. Display the head of the dataframe.

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2. What is the percentage of people who survived? (hint: find the mean of the survival column).

In [25]:
#38% survived
#df['Survived'].mean()
#REDO
#38% survived
Survived_Percnt = (df['Survived'].sum() / df['Survived'].count())*100
Survived_Percnt

38.38383838383838

In [26]:
#REDO
# 342 people survived and 549 people did not survive
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

3. How many of each sex survived?

In [28]:
#19% male and 74% female
#df.groupby(['Sex'], sort=False)['Survived'].mean()
#REDO
#109 males survived and 233 females survived
df.groupby(['Sex'], sort=False)['Survived'].sum()

Sex
male      109
female    233
Name: Survived, dtype: int64

4. Considering only the group of passengers who paid less than $10, what percentage of this group survived?

In [53]:
from pandas.io.parsers.python_parser import count_empty_vals
#20% survived who paid less than $10 or 19.94%
#REDO
less_10_fare = df[df['Fare'] < 10]
less_10_fare['Survived'].mean()
#less_10_fare['Survived'].value_counts()

0.19940476190476192

5. Overall, what is the average age of those who didn't survive?

In [55]:
#Age is 30 for who didnt survive
#REDO
didnt_survive = df[df['Survived'] == 0]
didnt_survive['Age'].mean()

30.62617924528302

In [56]:
didnt_survive.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

6. Overall, what is the average age of those who did survive?

In [65]:
#Age is 28 for who did survive
who_survived = df[df['Survived'] == 1]
who_survived['Age'].mean()

28.343689655172415

In [ ]:
who_survived.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
who_survived.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,342.000000,342.0,342.000000,290.000000,342.000000,342.000000,342.000000
mean,444.368421,1.0,1.950292,28.343690,0.473684,0.464912,48.395408
std,252.358840,0.0,0.863321,14.950952,0.708688,0.771712,66.596998
min,2.000000,1.0,1.000000,0.420000,0.000000,0.000000,0.000000
25%,250.750000,1.0,1.000000,19.000000,0.000000,0.000000,12.475000
50%,439.500000,1.0,2.000000,28.000000,0.000000,0.000000,26.000000
75%,651.500000,1.0,3.000000,36.000000,1.000000,1.000000,57.000000
max,890.000000,1.0,3.000000,80.000000,4.000000,5.000000,512.329200

7. What is the average age of those who did and didn't survive grouped by Sex?

In [66]:
# Who survived female 29 yo and male 27 yo
#who_survived.groupby(['Sex'], sort=False)['Age'].mean()
#REDO
#Who survived female 29 yo and male 27 yo AND didn't survive female 25 yo and male 32 yo
df.groupby(['Sex', 'Survived'])[['Age']].mean()

                       Age
Sex    Survived
female 0         25.046875
       1         28.847716
male   0         31.618056
       1         27.276022

In [67]:
# Who Didnt survive female 28 yo and male 31 yo
#didnt_survive.groupby(['Sex'], sort=False)['Age'].mean() 
#REDO
#Who survived female 29 yo and male 27 yo AND didn't survive female 25 yo and male 32 yo
df.groupby(['Sex', 'Survived'])[['Age']].mean()

                       Age
Sex    Survived
female 0         25.046875
       1         28.847716
male   0         31.618056
       1         27.276022